.cart{
    display: flex;
    .page{
        flex: 8;
        .container{
            display: flex;
            flex-direction: column;
            .heading{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 20px 0;
            }
            .cart-icon{
                font-size: 40px;
                margin-right: 15px;
            }
            .content{
                display: flex;
                width: 97%;
                .itemsContainer{
                    flex: 8;
                    .empty{
                        display: flex;
                        height: 40vh;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        p{
                            color: gray;
                            margin: 0;
                            font-size: 15px;
                        }
                        .link{
                            margin-top: 30px;
                            border: 1px solid black;
                            padding: 10px 20px;
                        }
                    }
                    .cartItems{
                        width: 100%;
                    }
                    .items{
                        width: 98%;
                        display: flex;
                        justify-content: space-between;
                        margin-left: 20px;
                        border-top: 1px solid gray;
                        p{
                            font-weight: 600;
                            font-size: 17px;
                            margin-left: 100px;
                            margin-right: 100px;
                        }
                    }
                }
                .checkout{
                    display: flex;
                    flex: 3;
                    flex-direction: column;
                    // margin: 50px 0 0 50px;
                    margin-top: 50px;
                    margin-inline-start: 50px;
                    .checkout1{
                        width: 90%;
                        label{
                            color: gray;
                            font-size: 12px;
                            display: block;
                            margin-bottom: 5px;
                        }
                        div{
                            display: flex;
                            input{
                                flex: 1;
                                height: 38px;
                                &::placeholder{
                                    color: rgb(172, 172, 172);
                                }
                                &:focus{
                                    outline: none;
                                }
                            }
                        
                            button{
                                flex: 1;
                                padding: 12px 50px;
                                background-color: black;
                                color: white;
                                margin-bottom: 20px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                        div{
                            width: 95%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            p{
                                margin: 5px;
                                color: gray;
                                font-size: 15px;
                            }
                            span{
                                margin-top:10px ;
                                margin-inline-start: 5px;
                            }
                        }
                    }
                    .checkout2{
                        display: flex;
                        margin-top: 100px;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 80%;
                            padding: 15px;
                            color: black;
                            background-color: yellow;
                            border: none;
                            &:hover{
                                cursor: pointer;
                            }
                            .lock-icon{
                                font-size:15px;
                                margin-inline-end: 5px;
                            }
                        }
                    }
                }
                
            }

        }
    }
}