
.home{
    display: flex;
    background-color: rgb(236, 235, 235);
    .Homecontainer{
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: center;
        .filter{
            align-self: flex-end;
            margin: 1% 4%;
        }
        .navbar{
            flex-grow: 0;
        }
        h1{
            text-align: center;
            margin: 3% 0 0 2%; 
        }
        .productItemContainer{
            width:94%;
            margin-left: 5px;
            margin-bottom: 50px;
            .productItem{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 25px;
            }
        }
    }
}

